body {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	background-color: #FFF;
	overflow-x: hidden;

}

header {
	background-color: #19181f;
	overflow: hidden;
	padding: 15px;
}

header h1 {
	margin: 0;
	color: #D9D9D9;
	float: left;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 65px;
	font-weight: 700;
	font-size: 28px;
	margin-top: 13px;
	margin-bottom: 13px;
	
}

a {
	text-decoration: none;
	color: #000;
} 

header a:hover {
	background-color:#D9D9D9;
	color:#171717;

}

header a {
	color: #D9D9D9;
	display: block;
	padding: 22px;
}

header ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

header ul li {
	display: inline-block;

}

header nav{
	float: right;
}

img {
	display:block;
	width: 100%;
}

#noticias-destacadas {
	width: calc(100vw * 3);
	background-color: #19181f;
	overflow: hidden;
	position: relative;
	animation: 30s slider infinite;
}

#noticias-destacadas figure {
	width: 100vw;
	float: left;
}

#noticias-destacadas h2 {
	font-size: 42px;
	font-weight: 600;
	background-color: #19181f;
	padding: 15px;
	color: #FFF;
	padding: 15px;
}

/* ↓ Listado de noticias ↓ */
.noticias {

	margin-right: 30px;
	overflow-x: hidden;
	background-color: #FFF;
	width: 95%;
	
}

.noticia-img {
	float: left;
	width: 30%;
	padding: 20px 50px 30px 50px;
}

.noticia-txt {
	padding-top: 55px;
	width: 85%;

}

.noticia-txt h3 {
	font-size: 29px;
	font-weight: bolder;
	text-align: left;
	line-height: 35px;
	padding-bottom: 15px;


}

.noticia-txt p,a {
	font-size: 19px;
	color: #66645f;
	line-height: 30px;


}

hr {
	width: 96%;
	margin: 0 30px 0 30px;
	border: 1px solid lightgray;

}




/* Animaciones CSS */

@keyframes slider {
	0% {
		left: 0;
	}

	10% {
		left: 0;
	}

	20% {
		left: -100vw;
	}

	30% {
		left: -100vw;
	}

	40% {
		left: -200vw;
	}

	50% {
		left: -200vw;
	}

	60% {
		left: -100vw;
	}
	80% {
		left: -100vw;
	}
	100% {
		left: 0vw;
	}

} 


