body {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	background-color: #FFF;
	overflow-x: hidden;

}

header {
	background-color: #19181f;
	overflow: hidden;
	padding: 15px;
}

header h1 {
	margin: 0;
	color: #D9D9D9;
	float: left;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 65px;
	font-weight: 700;
	font-size: 28px;
	margin-top: 13px;
	margin-bottom: 13px;
	
}

a {
	text-decoration: none;
	color: #000;
} 

header a:hover {
	background-color:#D9D9D9;
	color:#171717;

}

header a {
	color: #D9D9D9;
	display: block;
	padding: 22px;
}

header ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

header ul li {
	display: inline-block;

}

header nav{
	float: right;
}

img {
	display:block;
	width: 100%;
}

#noticias-destacadas {
	width: calc(100vw * 3);
	background-color: #19181f;
	overflow: hidden;
	position: relative;
	animation: 30s slider infinite;
}

#noticias-destacadas figure {
	width: 100vw;
	float: left;
}

#noticias-destacadas h2 {
	font-size: 42px;
	font-weight: 600;
	background-color: #19181f;
	padding: 15px;
	color: #FFF;
	padding: 15px;
}

/* ↓ Listado de noticias ↓ */

.noticias { /*Contenedor Flexible*/
	display: flex;
	flex-direction:row;
	justify-content: space-evenly; /*flex-start , center, flex-end, space-around, space-between, space-evely*/
	align-items: center; /*flex-start. center, flex-end, strech, baseline*/

	border-bottom: 1px solid #CCCCCC;
	margin: 0 15px 0 15px;
	padding: 15px 0 15px 0;

}

.noticias:last-child {
	border: none;
}


.noticia-img { /*Item Flexible*/
	width: 25%;

}


.noticia-txt{ /*Item Flexible*/
	width: 65%;
	line-height: 1.5;
}

.noticia-txt h3 {
	font-size: 24px;
	font-weight: 600;

}

.noticia-txt a {
	color: #000;
	font-weight: 600;
}


#tabla-posiciones table {
	width: 70%;
	margin: auto;
}

#tabla-posiciones td, #tabla-posiciones th {
	padding: 10px;
	vertical-align: middle;
}

#tabla-posiciones th {
	background-color: red;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
}


#tabla-posiciones tr {
	background-color: #d9d9d9;
	border-bottom: 1px solid #AAA;
}

#tabla-posiciones tr:last-child, #tabla-posiciones tr:first-child {
	border:none;
}

#tabla-posiciones td:nth-child(odd) {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}

#tabla-posiciones td span {
	color: #34799e;
	font-weight: 600;
}



/* Animaciones CSS */

@keyframes slider {
	0% {
		left: 0;
	}

	10% {
		left: 0;
	}

	20% {
		left: -100vw;
	}

	30% {
		left: -100vw;
	}

	40% {
		left: -200vw;
	}

	50% {
		left: -200vw;
	}

	60% {
		left: -100vw;
	}
	80% {
		left: -100vw;
	}
	100% {
		left: 0vw;
	}

} 


